@model dynamic
@using System.Linq;
@using hiTommy.Models;
@{
    ViewData["Title"] = "Brand";
    var counter = 0;
    List<Shoe> shoes = Model.Shoes;
}

<div class="main-container">

    @foreach (var shoe in shoes)
    {
        <div class="product-card">
            <a href="/Product/@(shoe.Id)" class="product-image">
                <img src="@(shoe.PictureUrl)" />
            </a>
            <a href="/Product/@(shoe.Id)" class="product-image">
                @shoe.Name <br />
                @($"{shoe.Price:c}")
            </a>
        </div>
    }
</div>