@model dynamic
@{
    ViewData["Title"] = "Product";
}
<main>
    <div class="product-container">
        <img class="product" src="@(Model.Shoe.PictureUrl)"/>
        <div class="product-description"><br>
            <p>@Model.Shoe.Description</p> 
        </div>
        <div class="product-info">
            <h2>@Model.Shoe.Name</h2>
            <h3>@($"{Model.Shoe.Price:c}")</h3>
        </div>
        <div class="dropdown-container">
            <label for="size" class="size-label">Size &nbsp;</label>
            <select name="#" id="size">
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
            </select>
        </div>
        <div class="button-section">          
            @*<a id="image-button" href="https://i.ibb.co/Jspw64C/Skostorlek.png">Size Guide</a>*@
            <a href="">
                <div class="cart-button">ADD TO CART</div>
            </a>
            <a href="">
                <div class="buy-button">BUY NOW</div>
            </a>
        </div>
    </div>
</main>