
@model hiTommy.Models.Shoe
@{
    ViewData["Title"] = "Product";
}
<main>
    <div class="product-container">
        <div class="product" style ="        background: url('@(Model.PictureUrl)') no-repeat center center/cover;
"></div>
        <div class="product-description"><h2>No description needed</h2><br>
            <p>@Model.Description</p><br>
            <div id="quote">"<i>Special features include: outsoles borrowed from the NIKE special forces boot (SFB), VECTRAN fabric from the Mars Excursion Rover airbags, and detailing from Apollo Lunar Overshoes</i>." by Tom Sachs</div> 
        </div>
        <div class="product-info">
            <h2>@Model.Name</h2>
            <h3>@($"{Model.Price:c}")</h3>
        </div>
        <div class="dropdown-container">
            <label for="size" class="size-label">Size &nbsp;</label>
            <select name="#" id="size">
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
            </select>
        </div>
        <div class="button-section">
            <a href=""><div class="cart-button">ADD TO CART</div></a>
            <a href=""><div class="buy-button">BUY NOW</div></a> 
        </div>
    </div>
</main>