@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="main-container">
        <a asp-page="/ProductPage" class="main-grid-items-1 product-image"></a>
        <a href="#" class="main-grid-items-2 product-image"></a>
        <a href="#" class="main-grid-items-3 product-image"></a>
        <a asp-page="/ProductPage" asp-route-name="@Model." class="product-info">NikeCraft Mars Yard Shoe 1.0 Tom Sachs Space Camp<br> 100.000</a>
        <a href="#" class="product-info">Nike x Dior Jordan 1 High<br> 60.000</a>
        <a href="#" class="product-info">Nike SB Dunk Low Ben & Jerry's Chunky Dunky<br> 20.000</a>
        <a href="#" class="main-grid-items-4 product-image"></a>
        <a href="#" class="main-grid-items-5 product-image"></a>
        <a href="#" class="main-grid-items-6 product-image"></a>
        <a href="#" class="product-info">Balenciaga Triple S<br> 7000</a>
        <a href="#" class="product-info">Balenciaga Track<br> 7000</a>
        <a href="#" class="product-info">Balenciaga Speed Trainer<br> 6000</a>
        <a href="#" class="main-grid-items-7 product-image"></a>
        <a href="#" class="main-grid-items-8 product-image"></a>
        <a href="#" class="main-grid-items-9 product-image"></a>
        <a href="#" class="product-info">Nike x Off-White Air Jordan 1 Chicago<br> 40.000</a>
        <a href="#" class="product-info">Nike x Off-White Air Jordan 1 University Blue<br> 20.000</a>
        <a href="#" class="product-info">Nike x Off-White Air Jordan 1 White<br> 35.000</a>
    </div>