@page 
@model Sneakers.Pages.Shared.ProductPageModel
@{

}
<h2>No description needed</h2>
<br>
<p>
    This is not a pair of sneakers, this is a museum piece and an art collectors item.
    Straight from 2012 here's a pristine pair of NikeCraft Mars Yard x Tom Sachs 1.0 in US9 new and never worn.
    The most curated and detailed project ever made by Nike, you won't see something like this again, potentially the last US9 still deadstock after all these years. Only 99 pairs made in total.
</p>
<br>
<div id="quote">
    "
    <i>Special features include: outsoles borrowed from the NIKE special forces boot (SFB), VECTRAN fabric from the Mars Excursion Rover airbags, and detailing from Apollo Lunar Overshoes</i>." by Tom Sachs
</div>
            </div>
<div class="product-info">
    <h2>NIKECRAFT MARS YARD SHOE 1.0 TOM SACHS SPACE CAMP</h2>
    <h3>SEK 100.000</h3>
</div>
<div class="dropdown-container">
    <label for="size" class="size-label">Size &nbsp;</label>
    <select name="#" id="size">
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
    </select>
</div>
<div class="button-section">
    <a href="">
        <div class="cart-button">ADD TO CART</div>
    </a>
    <a href="">
        <div class="buy-button">BUY NOW</div>
    </a>
</div>
        </div>
    </main>