
@{
    ViewData["Title"] = "About Us";
}

    @section Styles{
        <link rel="stylesheet" href="@Url.Content("~/css/aboutus.css")">
    }
<div id="main-content">
    <div class="infobox">
        <h2 class="infobox-header">About us</h2>
        <p class="infobox-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum magnam inventore eos quis, optio consequuntur dolor quaerat perferendis alias aliquid assumenda quisquam iure! Tempore nihil quod, libero veniam totam modi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates recusandae quasi aliquam architecto, temporibus dolorem alias unde quam blanditiis sapiente quibusdam ab harum atque reiciendis tempore eaque dicta impedit?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tenetur dolorum fugiat architecto quod eum minima quas perferendis accusantium. Provident minima et facere possimus quae quo ipsum inventore asperiores repudiandae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, tempora delectus velit quisquam provident explicabo dolores, asperiores quo id aliquam vitae tenetur dolor impedit? Nesciunt assumenda architecto tempore consequuntur voluptate?
        </p>
    </div>

    <div class="infobox" id="parallax"></div>

    <div class="infobox">
        <h2 class="infobox-header">Lorem Ipsum</h2>
        <p class="infobox-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quas dignissimos nobis quod numquam veniam aliquam voluptatibus vero facilis atque cupiditate animi minus, amet doloribus, quos eligendi fuga repudiandae tempora.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci architecto commodi dicta. Ut exercitationem libero sapiente aliquid beatae corrupti a deserunt quam repellat aperiam illo culpa, minus velit itaque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat delectus veniam nisi facere cumque quisquam fugit dolorum, illum ipsa, exercitationem, aperiam ex consequatur corrupti? Aperiam omnis itaque consectetur quis dicta!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste dolore ut porro laborum fuga, earum, ab voluptates odio eveniet similique, nisi voluptatibus tempora deleniti vel ipsa placeat vitae doloremque deserunt.
        </p>
    </div>

    <div class="infobox" id="parallax"></div>

    <div class="infobox">
        <h2 class="infobox-header">Lorem Ipsum</h2>
        <p class="infobox-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsa in labore expedita aliquid quod ducimus qui dolor facilis impedit, repudiandae libero optio, est nam voluptate nobis sint, modi porro.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere quaerat illum. Architecto, quos rerum quo adipisci laboriosam, fuga facilis pariatur dolorum minima, mollitia quasi rem culpa aliquid eos aspernatur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere atque autem aliquid, ipsam modi culpa, beatae, soluta incidunt quos architecto porro impedit. Itaque assumenda perspiciatis facilis voluptate qui. Esse, voluptas?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, expedita commodi provident accusantium cumque, error corrupti animi modi sunt ut id, voluptates esse nam? Eum consectetur ipsa odit deleniti obcaecati?
        </p>
    </div>

    <div class="infobox" id="parallax"></div>
</div>
    <script src="~/js/parallax.js"></script>